AI_Study_Buddy copy.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "=json",
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a strict assistant. Follow instructions exactly.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Give ONLY today's study TOPIC for Data Structures. Return ONLY ONE LINE. Example:\\nArrays\\n\\nNo explanations. No extra words.\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        320,
        48
      ],
      "id": "e235b49e-feb1-4400-af8d-5fff8dc10c6b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "db312085-5a33-4ca2-9aec-9471941c8f69",
              "name": "today_topic",
              "value": "={{$node[\"HTTP Request\"].json.choices[0].message.content}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        48
      ],
      "id": "9793bb4c-edcb-4722-92fd-ae73476f6a1f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "hairunnisha204@gmail.com",
        "subject": "AI 🤖 Study Buddy: Your Daily Study Reminder ⏰",
        "message": "=📘 Today's Study Task\n\n🧠 Topic: {{$json.today_topic}}\n\n⏱️ Study for 45–60 mins  \n✍️ Practice at least 2 questions  \n\nStay consistent 💪\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        768,
        48
      ],
      "id": "7ba91a89-c3fb-40fb-a1c3-42f8faa7cf1a",
      "name": "Send a message",
      "webhookId": "f7f4582e-b11b-44a7-8451-667c2001fb0a",
      "credentials": {
        "gmailOAuth2": {
          "id": "IYhnUEHFcbcYPsXx",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        96,
        48
      ],
      "id": "88bcbb9b-cf43-47f0-9776-18d8819ca00f",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "1372f2a2-0579-4384-903d-c97562a6d630",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f501f993afc5ce0e9c85f26e6ea87298848e94a71efe55b3a79d0c84cd640b5c"
  },
  "id": "mV8lvMzwlqeCqLvf",
  "tags": []
}